<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:javaee="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee web-app_2_4.xsd">
  <javaee:display-name>sibol</javaee:display-name>
  <error-page>
    <exception-type>java.lang.Throwable</exception-type>
    <location>/errorCode.html</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/error.html</location>
  </error-page>
  <servlet>
    <servlet-name>files</servlet-name>
    <servlet-class>sibol.RetornaFilesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>files</servlet-name>
    <url-pattern>/files</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <javaee:description></javaee:description>
    <javaee:display-name>Controlador</javaee:display-name>
    <servlet-name>Controlador</servlet-name>
    <servlet-class>sibol.Controlador</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Controlador</servlet-name>
    <url-pattern>/Controlador</url-pattern>
  </servlet-mapping>
</web-app>